* {
  text-decoration: none;
}

.App {
  background-color: #eeeef0;
}

html {
  background-color: #eeeef0;
}

.html {
  text-align: center;
  background-color: red;
  color: white;
  padding: 0.3rem;
  font-weight: 600;
  border-radius: 5px;
  font-size: 12px;
  width: 3.125rem;
  cursor: pointer;
}

.css {
  text-align: center;
  background-color: #2862e8;
  color: white;
  padding: 0.3rem;
  font-weight: 600;
  border-radius: 5px;
  font-size: 12px;
  width: 3.125rem;
  cursor: pointer;
}

.javascript {
  text-align: center;
  background-color: #efd81d;
  padding: 0.3rem;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  width: max-content;

  cursor: pointer;
}

.react {
  text-align: center;
  background-color: blue;
  padding: 0.3rem;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  width: 3.125rem;
  cursor: pointer;
}

.grid {
  display: grid;
  place-content: center;
  margin-top: 1rem;
  grid-template-columns: repeat(2, 50%);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  border: 2px solid #d3d3d3cd;
  padding: 1.2rem;
  word-wrap: break-word;
  border-radius: 10px;
  background-color: #d3d3d3cd;
  margin-bottom: 2rem;
}

.card_content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 150px;
}

.grid_cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}

.category_row {
  display: flex;
  justify-content: flex-end;
}

.fav_container {
  margin-top: 5rem;
  grid-template-columns: repeat(3, 200px);
}

.fav_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 700px) {
  .grid {
    grid-template-columns: 100%;
  }
}
